<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="app.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="controlCtrl.js"></script>

</head>
<body ng-app="test">
<div id="map"></div>
<div id="control" ng-controller="controlCtrl">
    <div class="flex-row spaced">
        <div class="form-group">
            <label for="">Choose Destination
                <select class="form-control" name="" ng-options="destination.id as destination.address for destination in destinations" id="" ng-model="destination">
                    <option value=""></option>
                </select>
            </label>
        </div>
        <div class="form-group">
             <label for="">Choose Courier
                <select class="form-control" name="" id="" ng-options="courier.id as courier.name for courier in couriers" ng-model="courier">
                    <option value=""></option>
                </select>
        </label>
        </div>
        <div class="form-group" ng-show="destination">
            <button class="btn btn-default">Create order</button>
        </div>

        <div id="panel" ng-show="courier">
            <label for="origin"><input id="origin" type="radio" checked name="set" value="origin">Origin</label>
            <label for="destination"><input id="destination" type="radio" name="set" value="destination">Destination</label>
            <button id="start">Start trip</button>
            <span id="trip-id"></span>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=geometry&callback=initMap"
        async defer></script>
</body>
</html>